################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

 Ignore any directory named `bin` anywhere in the repo
bin/
**/bin/
 Ignore any directory named `.vs` anywhere in the repo
.vs/
**/.vs/
 Ignore any directory named `obj` anywhere in the repo
obj/
**/obj/
*.vsidx
